<div class="row">
	<h1>Recommendations for <%=@user.username%></h1>

	<div class="col-md-8">
		<div class="row">
		<% @recommendations.each do |recommendation| %>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			    	<%= image_tag(recommendation.visit.place.picture_url) if recommendation.visit.place.picture.present? %>
			      <div class="caption">
			        <h3><%=recommendation.visit.place.name%></h3>

			        <p>Recommended by <%=recommendation.visit.user.username%>: </p>
			        <p><%=recommendation.comment%></p>
			        <p>Visited the <%=recommendation.visit.date%></p>
			        <p>
			        	<div>
			        		<% for i in (1..5)%>
			        			<% if i <= recommendation.visit.rating %>
			        				<span class='on'>☆</span>
			        			<% else %>
			        				<span>☆</span>
			        			<% end%>
			        		<% end %>
					    </div>
			        </p>
			        <p><%=recommendation.visit.comment%></p>
			        
			        <p>
			        	<%= link_to 'Detail', recommendation_path(recommendation), class:"btn btn-default" %>
			        	<% if current_user.id == @user.id%>
							<%= link_to '', recommendation_path(recommendation), 
									method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default glyphicon glyphicon-remove"%>
					    <% end %>
			        </p>
			      </div>
			    </div>
			  </div>

		<% end %>
	</div>
	</div>

	<div class="col-md-4">
		<!-- <input type='hidden' id="user_id" value="<%=@user.id%>">
	  	<div id="map-canvas" data-map="disable"></div> -->
	</div>

</div>