<div class="row">
	<h1>Recommendations for <%=@user.username%></h1>

	<div class="col-md-8">
		<div class="row">
		<% @recommendations.each do |recommendation| %>
			  <div class="col-sm-6 col-md-4" id="recommendation_<%=recommendation.id%>">
			    <div class="thumbnail" style="position: relative;">
			    	<% if current_user.is_favorite?(recommendation.visit.place) %>
		        		<a class="btn glyphicon glyphicon-heart corner-icon" data-id="<%=recommendation.visit.place.id%>" href="#" title="Favorites"></a>
		        	<% else %>
		        		<a class="btn glyphicon glyphicon-heart-empty corner-icon" data-id="<%=recommendation.visit.place.id%>" href="#" title="Favorites"></a>	
		        	<% end %>

			    	<% if recommendation.visit.place.picture.present? %>
			    		<%= image_tag(recommendation.visit.place.picture_url) %>

			    	<% elsif recommendation.visit.photos.length > 0 %>
			    		<%= image_tag(recommendation.visit.photos[0].picture_url) %>
			    	<% end %>
			      <div class="caption">
			        <h3><%=recommendation.visit.place.name%></h3>

			        <p>Recommended by <%=recommendation.visit.user.username%>: </p>
			        <p><%=recommendation.comment%></p>
			        <p>Visited the <%=recommendation.visit.date%></p>
			        <p>
			        	<div>
			        		<% for i in (1..5)%>
			        			<% if i <= recommendation.visit.rating %>
			        				<span class="glyphicon glyphicon-star"></span>
			        			<% else %>
			        				<span class="glyphicon glyphicon-star-empty"></span>
			        			<% end%>
			        		<% end %>
					    </div>
			        </p>
			        <p><%=recommendation.visit.comment%></p>
			        <p>
			        	<%= link_to 'Detail', recommendation_path(recommendation), class:"btn btn-default", title: "Detail" %>
			        	
			        	<% if current_user.id == @user.id%>
			        		<a class="btn btn-default glyphicon glyphicon-trash" data-id="<%=recommendation.id%>" href="#" title="Delete"></a>
					    <% end %>
			        </p>
			      </div>
			    </div>
			  </div>

		<% end %>
	</div>
	</div>

	<div class="col-md-4">
		<input type='hidden' id="user_id" value="<%=@user.id%>">
	  	<div id="map-canvas" class="big-map" data-map="disable"></div>
	</div>

</div>

<script type="text/javascript">
	google.maps.event.addDomListener(window, 'load', initializeRecommendationsMap);

	// Delete Recommendation
	$('.glyphicon-trash').click(function(e){
		e.preventDefault();
		var id = $(e.target).data("id");

		var request = $.ajax({
			url: "/recommendations/"+id,
			type: "DELETE",	
			dataType: "json"
		});

		request.done(function(data){
			$('#recommendation_'+id).remove();
		});
	});

	// Add place to favorites
	$('.glyphicon-heart-empty').click(addToFavorites);

	// Remove place from favorites
	$('.glyphicon-heart').click(removeFromFavorites);

</script>