<h1><%=@recommendation.visit.user.username%> recommended a place to <%=@recommendation.user.username%></h1>

<div class="">
    <h2>"<%=@recommendation.comment%>"</h2>
    <p>-- <%=@recommendation.visit.user.username%></p>
</div>

<%= render partial: "places/place", object: @recommendation.visit.place, as: 'place' %>
<%= render partial: "visits/visit", object: @recommendation.visit, as: 'visit' %>

<%=link_to 'Back', user_recommendations_path(@recommendation.user), class:"btn btn-primary" %>