<div class="row">
    <div class="col-md-7">

      <div class="border_box">
        <% if @visit %>
            <%= render partial: "shared/form_error_list", locals: { model: @visit } %>
        <% end %>

        <%= form_for [@place, @visit] do |f| %>
        
        <div class="form-group">
          <%= f.label "Date of visit" %>
          <%= f.date_field :date, class: "form-control", value: @visit.date %>
        </div>
        <div class="form-group">
          <%= f.label "Rate your experience" %>
          <%= f.hidden_field :rating, class: "form-control" %>
          <div class="rating2">
              <% for i in (1..5)%>
                <% if i <= @visit.rating %>
                  <span class="glyphicon glyphicon-star" id="rate2_<%=i%>" data-score="<%=i%>"></span>
                <% else %>
                  <span class="glyphicon glyphicon-star-empty" id="rate2_<%=i%>" data-score="<%=i%>"></span>
                <% end%>
              <% end %>
        </div>
        </div>
        <div class="form-group">
          <%= f.label "Comment on the visit" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Add photos" %><br>
          <%= f.file_field :pictures, multiple: true%>
        </div>
        <br>
        <div >
            <%= f.submit class:"btn btn-default"%>
            <%= link_to 'Back', user_visits_path(current_user) , class:"btn btn-default"%>
        </div>
        <% end %>
      </div>
  </div>
  <div class="col-md-5">
    <% if !@visit.photos.empty?%>
    <div class="border_box">
        <p>
          <% @visit.photos.each do |p| %>
            <%= image_tag(p.picture_url, height: 130, class: "img-rounded")%>
          <% end %>
        </p>
    </div>
    <% end %>
</div>

<script type="text/javascript">

function displayStarRating2(){
  $('.rating2').children().addClass('glyphicon-star-empty');
  if ($('#visit_rating').val() > 0){
    for (var i =1; i<= $('#visit_rating').val(); i++){
      $('#rate2_'+i).removeClass('glyphicon-star-empty');
      $('#rate2_'+i).addClass('glyphicon-star');
    }
  }
}

$('.rating2').on('click', function(e){
  $('#visit_rating').val(e.target.dataset.score);
  displayStarRating2();
});


</script>
