<div class="row">
    <div class="col-md-7">

      <div class="border_box">
        <% if @visit %>
            <%= render partial: "shared/form_error_list", locals: { model: @visit } %>
        <% end %>

        <%= form_for [@place, @visit] do |f| %>
        
        <div class="form-group">
          <%= f.label "Date of visit" %>
          <%= f.date_field :date, class: "form-control", value: @visit.date %>
        </div>
        <div class="form-group">
          <%= f.label "Rate your experience" %>
          <%= f.hidden_field :rating, class: "form-control" %>
          <div class="rating">
            <span id="rate_0" data-score="1">☆</span>
            <span id="rate_1" data-score="2">☆</span>
            <span id="rate_2" data-score="3">☆</span>
            <span id="rate_3" data-score="4">☆</span>
            <span id="rate_4" data-score="5">☆</span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Comment on the visit" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Add a picture" %><br>
          <%= f.file_field :pictures, multiple: true%>
        </div>
        <br>
        <div >
            <%= f.submit class:"btn btn-default"%>
            <%= link_to 'Back', user_visits_path(current_user) , class:"btn btn-default"%>
        </div>
        <% end %>
      </div>
  </div>
  <div class="col-md-5">
    <% if !@visit.photos.empty?%>
    <div class="border_box">
        <p>
          <% @visit.photos.each do |p| %>
            <%= image_tag(p.picture_url, height: 130, class: "img-rounded")%>
          <% end %>
        </p>
    </div>
    <% end %>
</div>

<script type="text/javascript">

function displayStarRating(){
  $('.rating').children().removeClass('on');
  if ($('#visit_rating').val() > 0){
    for (var i =0; i< $('#visit_rating').val(); i++){
      $('#rate_'+i).addClass('on');
    }
  }
}

$('.rating').on('click', function(e){
  $('#visit_rating').val(e.target.dataset.score);
  displayStarRating();
  
});

displayStarRating();
</script>
