
<div class="row">
	<h1>All past visits of <%=@user.username%></h1>

	<div class="col-md-8">
		<div class="row">
		<% @visits.each do |visit|%>
			  <div class="col-sm-6 col-md-4" id="visit_<%=visit.id%>">
			    <div class="thumbnail">
			    	<% if visit.place.picture.present? %>
			    		<%= image_tag(visit.place.picture_url) %>

			    	<% elsif visit.photos.length > 0 %>
			    		<%= image_tag(visit.photos[0].picture_url) %>
			    	<% end %>
			      <div class="caption">
			        <h3><%=visit.place.name%></h3>
			        <p><%=visit.date%></p>
			        <p>
			        	<div>
			        		<% for i in (1..5)%>
			        			<% if i <= visit.rating %>
			        				<span class='on'>☆</span>
			        			<% else %>
			        				<span>☆</span>
			        			<% end%>
			        		<% end %>
					    </div>
			        </p>
			        <p><%=visit.comment%></p>
			        <p>
			        	<%= link_to "Detail", place_visit_path(visit.place, visit), class:"btn btn-default"%>
			        	<% if current_user.is_favorite?(visit.place) %>
			        		<span class="btn btn-default glyphicon glyphicon-heart" style= "color:red;"></span>
			        	<% else %>
			        		<a class="btn btn-default glyphicon glyphicon-heart-empty" data-id="<%=visit.place.id%>" href="#"></a>
			        	<% end %>

			        	<% if current_user.id == visit.user.id %>
				        	<%= link_to "", edit_place_visit_path(visit.place, visit), class:"btn btn-default glyphicon glyphicon-pencil"%>
						    <%= link_to "", new_visit_recommendation_path(visit), class:"btn btn-default glyphicon glyphicon-share"%>
						    <a class="btn btn-default glyphicon glyphicon-trash" data-id="<%=visit.id%>" href="#"></a>

					    <% end %>
			        </p>
			      </div>
			    </div>
			  </div>

		<% end %>
		</div>
	</div>

	<div class="col-md-4">
		<input type='hidden' id="user_id" value="<%=@user.id%>">
	  	<div id="map-canvas" class="big-map" data-map="disable"></div>
	</div>
</div>

<script type="text/javascript">
	google.maps.event.addDomListener(window, 'load', initializeVisitsMap);

	// Delete visit
	$('.glyphicon-trash').click(function(e){
		e.preventDefault();
		var id = $(e.target).data("id");

		var request = $.ajax({
			url: "/visits/"+id,
			type: "DELETE",	
			dataType: "json"
		});

		request.done(function(data){
			$('#visit_'+id).remove();
		});
	});

	// Add place to favorites
	$('.glyphicon-heart-empty').click(addToFavorites;

</script>
