<h1>Edit my profile</h1>

<% if @user %>
    <%= render partial: "shared/form_error_list", locals: { model: @user } %>
<% end %>
        
<div class="border_box">
<%= form_for @user do |f| %>

    <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control"%>
    </div>

    <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :picture %><br>
        <%= image_tag(@user.picture_url, :width => 30, class: "img-circle") if @user.picture.present? %><br>
        <%= f.file_field :picture %>
    </div>

    <div class="form-group">
        <%= f.submit class:"btn btn-default" %>
    </div>

<% end %>
</div>