<% if logged_in? %>
	<!-- <h1>Here are some places your friends visited lastly</h1> -->
	<h1>Some interesting places your friends visited recently</h1>
	<div class="row">
	<% @visits.each do |visit|%>
		  <div class="col-sm-3 col-md-3" id="visit_<%=visit.id%>">
		  	
		    <div class="thumbnail" style="position: relative;">
		    	<% if current_user.is_favorite?(visit.place) %>
	        		<a class="btn glyphicon glyphicon-heart corner-icon" data-id="<%=visit.place.id%>" href="#" title="Favorites"></a>
	        	<% else %>
	        		<a class="btn glyphicon glyphicon-heart-empty corner-icon" data-id="<%=visit.place.id%>" href="#" title="Favorites"></a>	
	        	<% end %>
		    	<% if visit.place.picture.present? %>
		    		<%= image_tag visit.place.picture_url, class:"small-img" %>

		    	<% elsif visit.photos.length > 0 %>
		    		<%= image_tag visit.photos[0].picture_url, class:"small-img" %>
		    	<% end %>
		      <div class="caption">
		        <h3><%=visit.place.name%></h3>
		        <p>Visited the <%=visit.date%> by <%=visit.user.username%></p>
		        <p>
		        	<div>
		        		<% for i in (1..5)%>
		        			<% if i <= visit.rating %>
		        				<span class="glyphicon glyphicon-star"></span>
		        			<% else %>
		        				<span class="glyphicon glyphicon-star-empty"></span>
		        			<% end%>
		        		<% end %>
				    </div>
		        </p>
		        <p><%=visit.comment%></p>
		        <p><%= link_to "Detail", place_visit_path(visit.place, visit), class:"btn btn-default", title:"Detail"%>
	        	</p>
		      </div>
		    </div>
		  </div>
	<% end %>
	</div>

<% else %>
    <%= render partial: "welcome/forms" %>
<% end %>

<script type="text/javascript">
	// Add place to favorites
	$('.glyphicon-heart-empty').click(addToFavorites);

	// Remove place from favorites
	$('.glyphicon-heart').click(removeFromFavorites);

</script>