<h2>Following</h2>

<table class="table table-striped">
  <% current_user.friendships.each do |friendship|%>
    <tr>
      <td><%= image_tag(friendship.friend.picture_url, :width => 50, class: "img-circle") if friendship.friend.picture.present? %></td>
      <td><%= friendship.friend.username%></td>
      <td>
        <%= link_to "Delete", friendship, :method => :delete, class: "btn btn-default" %>
        <%= link_to 'See Recommendations', user_recommendations_path(friendship.friend), class: "btn btn-default"%>
        <%= link_to 'See Visits', user_visits_path(friendship.friend), class: "btn btn-default"%>
      </td>
    </tr>
  <% end %>
</table>

<h2>Followers</h2>

<table class="table table-striped">
  <% current_user.inverse_friends.each do |user|%>
    <tr>
      <td><%= image_tag(user.picture_url, :width => 50, class: "img-circle") if user.picture.present? %></td>
      <td><%= user.username%></td>
    </tr>
  <% end %>
</table>
