<h2>Following</h2>
<hr>
<div class="row text-center"> 
  <% current_user.friendships.each do |friendship|%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" style="min-height:300px; height:auto;">
        <%= image_tag(friendship.friend.picture_url, :width => 250, class: "img-rounded") if friendship.friend.picture.present? %>
        <div class="caption">
          <h4><%= friendship.friend.username%></h4>
          <p>
          <%= link_to 'Recommend.', user_recommendations_path(friendship.friend), class: "btn btn-default", title:"Recommendations"%>
          <%= link_to 'Visits', user_visits_path(friendship.friend), class: "btn btn-default", title:"Visits"%>
          <%= link_to "", friendship, :method => :delete, class: "btn btn-default glyphicon glyphicon-trash", title:"Delete" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Followers</h2>
<hr>
<div class="row text-center">    
  <% current_user.inverse_friends.each do |user|%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" style="min-height:300px;height:50px;">
        <%= image_tag(user.picture_url, :width => 250, class: "img-rounded") if user.picture.present? %>
          <div class="caption">
              <h4><%= user.username%></h4>
          </div>
      </div>
    </div>
  <% end %>
</div>
