<h2>Friendships</h2>

<ul>
  <% for friendship in current_user.friendships %>
    <li>
      <%=h friendship.friend.username %>
       <%= link_to "Delete", friendship, :method => :delete %>
       <%= link_to 'See his/her recommendations', user_recommendations_path(friendship.friend)%>
       <%= link_to 'See his/her visits', user_visits_path(friendship.friend)%>
    </li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for user in current_user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>
