<h1>Add a new visit</h1>
<hr>
<!-- Search form -->
<br><br>
<%= form_tag search_result_path, method: :GET do %>
<div class="input-group">
    <%= text_field_tag :search, @search, class: "form-control" %>
    <span class="input-group-btn">
    	<%= submit_tag "Search", class: "btn btn-default"%>
    </span>
</div>
<% end %>

<br>

<%= link_to 'Create a new place', new_place_path, class: "btn btn-default"%><br />

<!-- Result of search in database -->
<% if !@places.empty?%>
<h3>Existing places</h3>
<div class="row">
	<div class="col-md-6">
		<ul class="list-group">
			<% @places.each_with_index do |place, index|%>
				<li class="list-group-item">
					<div class="row">
					  	<div class="col-md-8">
						    <h5 class="media-heading"><%=place.name%></h5>
						    <%=place.address%> - <%=place.gender%>
						</div>
						<div class="col-md-2">
					  		<%= image_tag(place.picture_url, :height => 100, class: "media-object img-thumbnail") if place.picture.present? %>
					  	</div>
						<div class="col-md-2">
						    <%= link_to "Choose", new_place_visit_path(place), class: "btn btn-default"%>
						</div>
					</div>
				</li>
				<% if index == (@places.length/2)%>
					</ul>
					</div>
					<div class="col-md-6">
					<ul class="list-group">
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<!-- Result of search with Google Map API -->
<% if !@data.empty?%>
<h3>Suggesting places by Google Maps</h3>
<div class="row">
	<div class="col-md-6">
		<ul class="list-group">
			<% @data.each_with_index do |info, index|%>
				<li class="list-group-item">
					<div class="row">
					  	<div class="col-md-9">
						    <h5 class="media-heading"><%=info['formatted_address']%></h5>
						</div>
						<div class="col-md-3">
						    <%= form_tag new_place_path, method: :GET do %>		
								<%= hidden_field_tag :name, @search%>
								<%= hidden_field_tag :address, info['formatted_address']%>
								<%= hidden_field_tag :lat, info['geometry']['location']['lat']%>
								<%= hidden_field_tag :lng, info['geometry']['location']['lng']%>
								<%= submit_tag "Choose", class: "btn btn-default"%>
							<% end %>
						</div>
					</div>
				</li>
				<% if index == (@places.length/2)%>
					</ul>
					</div>
					<div class="col-md-6">
					<ul class="list-group">
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

