<!DOCTYPE html>
<html>
<head>
  <title>VisitPlacesApp</title>
  <!--<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjQW_pHVa_SJleQQX2BC51pJ4UyhVbK0">
	</script>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
    	Logged in as <%= current_user.username %> (<%= current_user.id %>).<br> 
    	Menu: <%= link_to 'Visits history', visits_path%> / 
    	<%= link_to 'Enter new visit', search_path%> / 
      <%= link_to 'My friends', friendships_path%> / 
    	<%= link_to "Find Friends", users_path %> / 
    	<%= link_to 'Logout', sessions_path, method: :delete %><br />
    	Admin actions:    <%= link_to 'All places', places_path%> / <%= link_to 'All visits', visits_all_path%>
    <%end%>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "#{name}"%>
<% end %>

<%= yield %>

</body>
</html>
