<!DOCTYPE html>
<html>
<head>
  <title>VisitPlacesApp</title>
  <!--<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjQW_pHVa_SJleQQX2BC51pJ4UyhVbK0">
	</script>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "#{name}"%>
<% end %>

<%= yield %>

</body>
</html>
