<!DOCTYPE html>
<html>
<head>
  <title>VisitPlacesApp</title>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjQW_pHVa_SJleQQX2BC51pJ4UyhVbK0">
	</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
    	Logged in as <%= current_user.username %> (<%= current_user.id %>).    
      <%= image_tag(current_user.picture_url, :width => 100) if current_user.picture.present? %>
      <br> 
    	Menu: <%= link_to 'Visits history', user_visits_path(current_user)%> / 
      <%= link_to 'My recommendations', user_recommendations_path(current_user)%> / 
    	<%= link_to 'Enter new visit', search_path%> / 
      <%= link_to 'My friends', friendships_path%> / 
    	<%= link_to "Find Friends", users_path %> / 
      <%= link_to "Edit Profile", edit_user_path(current_user) %> /
    	<%= link_to 'Logout', sessions_path, method: :delete %>
    <%end%>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "#{name}"%>
<% end %>

<%= yield %>

</body>
</html>
